In [1]:
import sqlite3
import numpy as np
import csv

In [2]:
conn = sqlite3.connect('powerlift.db')
cur = conn.cursor()

In [3]:
cur.execute(''' CREATE TABLE lift (Name,Sex,Event,Equipment,Age,AgeClass,
                                BirthYearClass,Division,BodyweightKg,
                                WeightClassKg,Squat1Kg,Squat2Kg,Squat3Kg,
                                Squat4Kg,Best3SquatKg,Bench1Kg,Bench2Kg,Bench3Kg,
                                Bench4Kg,Best3BenchKg,Deadlift1Kg,Deadlift2Kg,
                                Deadlift3Kg,Deadlift4Kg,Best3DeadliftKg,TotalKg,
                                Place,Dots,Wilks,Glossbrenner,Goodlift,Tested,Country,
                                State,Federation,ParentFederation,Date,MeetCountry,
                                MeetState,MeetTown,MeetName);
            ''')

In [4]:
with open('powerlifting_data/powerlifting.csv','r') as fin:
    # csv.DictReader uses first line in file for column headings by default
    dr = csv.DictReader(fin) # comma is default delimiter
    to_db = [(i['Name'], i['Sex'], i['Event'], i['Equipment'], i['Age'], i['AgeClass'], i['BirthYearClass'], 
              i['Division'], i['BodyweightKg'], i['WeightClassKg'], i['Squat1Kg'], i['Squat2Kg'], i['Squat3Kg'], 
              i['Squat4Kg'], i['Best3SquatKg'], i['Bench1Kg'], i['Bench2Kg'], i['Bench3Kg'], i['Bench4Kg'], i['Best3BenchKg'], 
              i['Deadlift1Kg'], i['Deadlift1Kg'], i['Deadlift2Kg'], i['Deadlift3Kg'], i['Deadlift4Kg'], i['Best3DeadliftKg'], 
              i['TotalKg'], i['Place'], i['Dots'], i['Wilks'], i['Glossbrenner'], i['Goodlift'], i['Tested'], i['Country'], 
              i['State'], i['Federation'], i['ParentFederation'], i['Date'], i['MeetCountry'], i['MeetState'], i['MeetTown'], 
              i['MeetName']) for i in dr]

In [17]:
cur.execute("SELECT MAX(TotalKg) AS MaxKg FROM lift")
cur.execute("PRINT MAX(TotalKg) FROM lift")

OperationalError: near "PRINT": syntax error

In [6]:
# cur.execute("DROP TABLE lift")